<div class="container">
  <div class="row">

    <div class="col-md-6">
      {{#with event}}
      <div id='eventWrapper' eventId={{this._id}} style="margin-left: 20px">
        <h1 style="font-weight: 100">{{this.name}}</h1>
        <br>
        <p>
        
          {{this.host.username}} is hosting this {{this.type}}. <br>
          <a href="/profile/{{this.host._id}}">Check out their profile!</a>

        </p>


        <br>
        <p><strong>Descripción:</strong> {{this.description}}</p>
        <br>
        <p><strong>Type of event:</strong> {{this.type}}</p>
        <br>
        <p><strong>Any specifications to be aware of?</strong>

          {{#if this.specs.glutenfree}} Glutenfree | {{/if}}
          {{#if this.specs.dairyfree}} DairyFree | {{/if}}
          {{#if this.specs.vegan}} Vegan | {{/if}}
          {{#if this.specs.veg}} Veg | {{/if}}
          {{#if this.specs.shellfish}} Shellfish | {{/if}}
          {{#if this.specs.nuts}} Nuts | {{/if}}

        </p>
        <br>
        <p><strong>Date:</strong> {{this.date}}</p>
        <br>
        <p><strong>Time:</strong> {{this.time}}</p>
        <br>
        <p><strong>Address:</strong> {{this.address}}</p>
        <br>
        <p><strong>Number of guests:</strong> {{this.forks}}</p>
        
        {{#each this.guests}}

        <p> <strong>Guests: </strong><a href="/profile/{{this._id}}">{{this.username}}, </a></p>
        {{/each}}
        

        <p>Like this event?<a href="/events/email/{{_id}}" id="sendMail">Send an event request!</a></h4>

      </div>

      {{/with}}

    </div>
    <div class="col-md-6">
      <figure id="onemap"></figure>
    </div>


  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/onemap.js"></script>
<script src="/javascripts/nodemailer.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"></script>
