<div class="container details-container">
  <div class="row justify-content-center">

    <div id="details-border" class="col-md-5">
      {{#with event}}
      <div id='eventWrapper' eventId={{this._id}} >
        <h1>{{this.name}}</h1>
        <br>
        <p>

          <span id="details-username">{{this.host.username}}</span> is hosting this {{this.type}}.
          <a href="/profile/{{this.host._id}}">Check out the host's profile!</a>

        </p>


        <br>
        <p><strong>Description:</strong> {{this.description}}</p>
        <br>
        <p><strong>Type of event:</strong> {{this.type}}</p>
        <br>
        <p><strong>Any specifications to be aware of?</strong>

          {{#if this.specs.glutenfree}} Glutenfree | {{/if}}
          {{#if this.specs.dairyfree}} DairyFree | {{/if}}
          {{#if this.specs.vegan}} Vegan | {{/if}}
          {{#if this.specs.veg}} Veg | {{/if}}
          {{#if this.specs.shellfish}} Shellfish | {{/if}}
          {{#if this.specs.nuts}} Nuts | {{/if}}

        </p>
        <br>
        <p><strong>Date:</strong> {{this.date}}</p>
        <br>
        <p><strong>Time:</strong> {{this.time}}</p>
        <br>
        <p><strong>Address:</strong> {{this.address}}</p>
        <br>
        <p><strong>Number of guests:</strong> {{this.forks}}</p>

        <strong>Guests' Profiles: </strong>

        {{#each this.guests}}

        <span><a href="/profile/{{this._id}}">{{this.username}}, </a></span>

        {{/each}}
        <br><br>

        <p>Like this event?</p>
        <br>


                  {{!-- <button class="create-account">Create Account</button> --}}

        <a class="create-account" href="/events/email/{{_id}}" id="button-details">Send an event request!</a>
        <a class="create-account" href="/events/show">Go back!</a>


      </div>

      {{/with}}

    </div>
    <div class="col-md-5">
      <figure id="onemap"></figure>
    </div>


  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/javascripts/onemap.js"></script>
<script src="/javascripts/mapstyle.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"></script>